html {
    // This defines what 1rem is
    font-size: 16px;

    @include for-phone-only{
        font-size: 70%;
    }
    @include for-tablet-portrait-only{
        font-size: 80%;
    }
    @include for-tablet-landscape-only{
        font-size: 80%;
    }
    @include for-desktop-up{
        font-size: 100%;
    }
}


body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
}

// .h1-primary{

// }
// .h3-primary{

// }

.title-primary{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: hsla(246, 24%, 26%, 1);
    @include media-breakpoint-up(md){
        font-size: 4rem;
        line-height: 1.4;
    }
}
.title-secondary{

}
.subtitle-primary{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    
}
.subtitle-secondary{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.p-primary{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.p-secondary{

}
